:root {
  --primary-color: #f30000;
  --red: #cf3339;
  --black: #212529;
  --white: #ffffff;
  --grey: #5a6670b3;
  --grey2: #ecececce;
  --resec: #ff4e5b;
  --background: #fafafa;
  // #theme
  --ant-primary-color: #24c034;
}
