@import "./asset";

* {
  font-family: $font_Regular !important;
}

// *,
// *:after,
// *:before {
//   @include animate(unset);
// }

body {
  // @include body;
  overflow: hidden;
  background-color: inherit !important ;
}

ul {
  overflow-y: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Avatar {
  border-radius: $Avatar_radius;
  img {
    border-radius: $Avatar_radius;
  }
}
